#isgdcreator-toolbar-button, #isgdcreator-toolbar-button:hover {
    list-style-image: url("chrome://isgdcreator/skin/toolbar-button_24x24.png");
    -moz-image-region: rect( 0px 24px 24px  0px);
}

#isgdcreator-toolbar-button[disabled="true"], #isgdcreator-toolbar-button[disabled="true"]:hover {
    list-style-image: url("chrome://isgdcreator/skin/toolbar-button_24x24.png");
    -moz-image-region: rect( 24px 24px 48px  0px);
}

toolbar[iconsize="small"] #isgdcreator-toolbar-button, toolbar[iconsize="small"] #isgdcreator-toolbar-button:hover {
    list-style-image: url("chrome://isgdcreator/skin/toolbar-button-16x32.png");
    -moz-image-region: rect( 0px 16px 16px 0px);
}

toolbar[iconsize="small"] #isgdcreator-toolbar-button[disabled="true"], toolbar[iconsize="small"] #isgdcreator-toolbar-button[disabled="true"]:hover {
    list-style-image: url("chrome://isgdcreator/skin/toolbar-button-16x32.png");
    -moz-image-region: rect( 16px 16px 32px 0px);
}
